*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container {
    width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    height: 100vh;
    background: url(../images/bg.jpg) no-repeat center center /cover;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu{
    display: flex;
}
.header__menu-link{
 color: black;
 font-family: arial;
 font-size: 18px;
 margin-left:40px ;   
 
}
.header__menu-link:hover{
    color: #7f9bd8;
    transition: 300ms;`
}